@import "../node_modules/bulma/css/bulma.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #F2F2F2;

}

.toprectangle {
    width: 100em;
    height: 4.2em;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px #D5D5D5;
}

.crunchyrolllogo {
    width: 150px;
    margin-left: 140px;
    margin-top: 1.5px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100em;
    height: 100em;
    background-color: #F2F2F2;
    
}

.formbackground {
    position: relative;
    top: 20px;
    left: 10%;
    width: 1200px;
    height: 650px;
    border: 1px solid #c1c0c0;
    background-color: #ffffff;
}

input[class="input"]{
    width: 320px;
    height: 55px;
}

.vertical-line {
    border-left: 1px solid #C1C0C0;
    height: 550px;
    position: absolute;
    left: 64%;
    top: 25%;
}

.formgroup1 {
    float: left;
    padding: 2px;
}
.formgroup2{
    float: right;
    padding: 2px;
    position: relative;
    left: -440px;
}

.formgroup3{
    float: right;
    padding: 2px;
    position: relative;
    top: -350px;
}

select {
    width: 104px;
    height: 55px;
}

label [type="radio"]{
    transform: scale(1.7);
    margin: 10px;
}

.button {
    height: 4em;
    width: 20em;
    background-color: #F78C25;
    color: white;
    border-radius: 8px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px 10px;
    width: 100em;
    background-color: #ffffff;
    color: black;
    text-align: center;
}

.footer-text {
    font-size: 12.5px;
}

.second-footer-text {
    font-size: 12.5px;
    text-align: center;
}