@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #F2F2F2;

}

.toprectangle {
    width: 100em;
    height: 4.2em;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px #D5D5D5;
}

.crunchyrolllogo {
    width: 150px;
    margin-left: 140px;
    margin-top: 1.5px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.main {
    width: 100em;
    height: 48em;
    background-color: #F2F2F2;
}

.formbackground {
    position: relative;
    top: 20px;
    left: 10%;
    width: 1200px;
    height: 650px;
    border: 1px solid #c1c0c0;
    background-color: #ffffff;
}

input[class="input"]{
    width: 320px;
    height: 55px;
    border: 1px solid #A5A2A2;
}

input[class="input"]:focus{
    box-shadow: none;
    border-color: #F78C25;
}

input[class="input"]:hover{
    border-color: #F78C25;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #A5A2A2;
}

.checkbox:hover input ~ .checkbox-container {
    background-color: #fff;
    border: 1px solid #f28725;
}

.checkbox input:checked ~ .checkbox-container{
    background-color: #fff;
    border: 1px solid #f28725;
}

.checkbox-container:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkbox-container:after {
    display: block;
}

.checkbox .checkbox-container:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #f28725;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radio {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.clickedradiobuttons{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #A5A2A2;
    border-radius: 50%;
}

.radio:hover input ~ .clickedradiobuttons {
    background-color: #fff;
    border: 1px solid #F28725;
}

.radio input:checked ~ .clickedradiobuttons {
    background-color: #fff;
}

.clickedradiobuttons:after {
    content: "";
    position: absolute;
    display: none;
}

.radio input:checked ~ .clickedradiobuttons:after {
    display: block;
}

.radio .clickedradiobuttons:after {
    top: 4px;
    left: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F78C25;
}

.vertical-line {
    border-left: 1px solid #C1C0C0;
    height: 550px;
    position: absolute;
    left: 64%;
    top: 25%;
}

.formgroup1 {
    float: left;
    padding: 2px;
}
.formgroup2{
    float: right;
    padding: 2px;
    position: relative;
    left: -440px;
}

.formgroup3{
    float: right;
    padding: 2px;
    position: relative;
    top: -350px;
}

select {
    width: 104px;
    height: 55px;
}

select:hover{
    border-color: #F78C25;
}

label [type="radio"]{
    transform: scale(1.7);
    margin: 10px;
}

.radio {
    font-size: 18px;
}

#months-dropdown, #days-dropdown, #year-dropdown {
    font-size: 15px;
    text-align: center;
    bottom: 60px;
}

#create-account-text{
    display: none;
}

.button {
    height: 4em;
    width: 20em;
    background-color: #F78C25;
    color: white;
    border-radius: 8px;
}

.button:hover {
    background-color: #F28725;
    color: white
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px 10px;
    width: 100em;
    background-color: #ffffff;
    color: black;
    text-align: center;
}

.content {
    text-align: left;
    position: relative;
    left: 660px;
    font-size: 13px;
}

.footer-text {
    font-size: 12.5px;
}

.second-footer-text {
    font-size: 12.5px;
    text-align: center;
}

@media only screen and (min-width: 375px) 
and (max-width: 812px){
    body {
        background-color: #F2F2F2;
        height:100%;
        width: 100%;
        padding:0;
        margin:0;
    }

    .main {
        width: 100em;
        height: 90em;
        background-color: #F2F2F2;
    }
 
    .toprectangle {
        width: 100em;
        height: 3.5em;
        background-color: #ffffff;
        box-shadow: 3px 3px 3px #D5D5D5;
    }
    
    .crunchyrolllogo {
        width: 130px;
        margin-left: 10px;
        margin-top: 1.5px;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 500px;
    }
    #group1,#group2,#signupgroup-header, #signupgroup-para {
        order: 3;
        position: relative;
        top: 70px;   
    }

    #password-group {
        position: relative;
        top: 120px;
    }

    .control-group {
        position: relative;
        top: 260px;
    }

    #email-group{
        order: 2;
        position: relative;
        top: 25px;

    }
    #username-group{
        order: 1;
        position: relative;
        top: -380px;
        left: 440px;
     }

    #group3 {
        order: 0;
        position: relative;
        top: -30px;
    }

    #dropdown-group {
        position: relative;
        top: -280px;
        left: 440px;
    }

    #radio-group {
        position: relative;
        top: -60px;
    }

    #checkbox-group {
        position: relative;
        top: 50px;
    }

    #create-account-text{
        display: inline;
    }

    select {
        width: 128px;
        height: 55px;
    }

    .formbackground {
        position: relative;
        top: -25px;
        left: 0%;
        width: 550px;
        height: 1450px;
        background-color: #ffffff;
    }

    input[class="input"]{
        width: 450px;
        height: 55px;
    }

    input[class="input"]:focus{
        box-shadow: none;
        border-color: #F78C25;
    }    

    .button {
        height: 4em;
        width: 25em;
        background-color: #F78C25;
        color: white;
        border-radius: 8px;
    }
    
    .button:hover {
        background-color: #F28725;
        color: white
    }

    .vertical-line {
        display: none;
    }

    .content {
        text-align: left;
        position: relative;
        left: 190px;
        font-size: 10px;
    }
    
    .footer-text {
        text-align: center;
        font-size: 12.5px;
    }
    
}