@import "../node_modules/bulma/css/bulma.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #F2F2F2;

}

.toprectangle {
    width: 100em;
    height: 4.2em;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px #D5D5D5;
}

.crunchyrolllogo {
    width: 150px;
    margin-left: 140px;
    margin-top: 1.5px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100em;
    height: 48em;
    background-color: #F2F2F2;
}

.formbackground {
    position: relative;
    top: 20px;
    left: 10%;
    width: 1200px;
    height: 650px;
    border: 1px solid #c1c0c0;
    background-color: #ffffff;
}

input[class="input"]{
    width: 320px;
    height: 55px;
    border: 1px solid #A5A2A2;
}

input[class="input"]:hover{
    border-color: #F78C25;
}

input[type="checkbox"]{
    width: 30px;
    height: 25px;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.checkbox-span{
    position: relative;
    left: 4em;
}

.checkbox-text {
    display: inline-block;
    max-width: 80%;
    vertical-align: top;
}

input[type="checkbox"]:hover{
    border-color: #F78C25;
}

.vertical-line {
    border-left: 1px solid #C1C0C0;
    height: 550px;
    position: absolute;
    left: 64%;
    top: 25%;
}

.formgroup1 {
    float: left;
    padding: 2px;
}
.formgroup2{
    float: right;
    padding: 2px;
    position: relative;
    left: -440px;
}

.formgroup3{
    float: right;
    padding: 2px;
    position: relative;
    top: -350px;
}

select {
    width: 104px;
    height: 55px;
}

select:hover{
    border-color: #F78C25;
}

label [type="radio"]{
    transform: scale(1.7);
    margin: 10px;
}

.radio {
    font-size: 18px;
}

#months-dropdown, #days-dropdown, #year-dropdown {
    font-size: 18px;
    text-align: center;
}



#create-account-text{
    display: none;
}

.button {
    height: 4em;
    width: 20em;
    background-color: #F78C25;
    color: white;
    border-radius: 8px;
}

.button:hover {
    background-color: #F28725;
    color: white
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px 10px;
    width: 100em;
    background-color: #ffffff;
    color: black;
    text-align: center;
}

.footer-text {
    font-size: 12.5px;
}

.second-footer-text {
    font-size: 12.5px;
    text-align: center;
}

@media only screen and (max-width: 660px){
    body {
        margin: 0 auto;
        background-color: #F2F2F2;
    }

    .main {
        width: 100em;
        height: 90em;
        background-color: #F2F2F2;
    }
 
    .toprectangle {
        width: 100em;
        height: 3.5em;
        background-color: #ffffff;
        box-shadow: 3px 3px 3px #D5D5D5;
    }
    
    .crunchyrolllogo {
        width: 130px;
        margin-left: 10px;
        margin-top: 1.5px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
    #group1,#group2,#signupgroup-header, #signupgroup-para {
        order: 3;
        position: relative;
        top: 60px;   
    }

    #password-group {
        position: relative;
        top: 100px;
    }

    .control-group {
        position: relative;
        top: 270px;
    }

    #email-group{
        order: 2;

    }
    #username-group{
        order: 1;
        position: relative;
        top: -380px;
        left: 440px;
     }

    #group3 {
        order: 0;
        position: relative;
        top: -30px;
    }

    #dropdown-group {
        position: relative;
        top: -280px;
        left: 440px;
    }

    #radio-group {
        position: relative;
        top: -70px;
    }

    #checkbox-group {
        position: relative;
        top: 50px;
    }

    #create-account-text{
        display: inline;
    }

    select {
        width: 144px;
        height: 55px;
    }

    .formbackground {
        position: relative;
        top: -25px;
        left: 0%;
        width: 550px;
        height: 1400px;
        background-color: #ffffff;
    }

    input[class="input"]{
        width: 450px;
        height: 55px;
    }

    .button {
        height: 4em;
        width: 28em;
        background-color: #F78C25;
        color: white;
        border-radius: 8px;
    }
    
    .button:hover {
        background-color: #F28725;
        color: white
    }

    .vertical-line {
        display: none;
    }

    .content {
        text-align: left;
        position: relative;
        left: 150px;
    }
    
    .footer-text {
        font-size: 12.5px;
    }
    
}