body {
    margin: 0;
    background-color: #F2F2F2;
}

.toprectangle {
    width: 100em;
    background-color: #ffffff;   
}

.crunchyrolllogo {
    width: 150px;
    margin-left: 140px;
}

.bottomrectangle {
    width: 100em;
    padding: 60px;
    background-color: #ffffff;
}

