
body {
    margin: 0;
    background-color: #F2F2F2;
}

.toprectangle {
    position: fixed;
    left: 0;
    top: 0;
    width: 100em;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #D5D5D5;
}

.crunchyrolllogo {
    width: 150px;
    margin-left: 140px;
}

.createaccountsquare {
    position: relative;
    left: 150px;
    top: 100px;
    width: 1200px;
    height: 660px;
    border: solid #C1C0C0 1px;
    background-color: #ffffff;
}
.container {
    padding: 50px;
}

.formgroup1 {
    float: left;
    padding: 2px;
}

.form-control {
    height: 3em;
    width: 20em;
}

input[type=radio]{
    transform: scale(2);
}

input[type=text]:focus {
    border: 3px solid #555;
  }

select {
    height: 55px;
    width: 6.5em;
}

#newButton {
    height: 3em;
    width: 16em;
    background-color: #F78C25;
}

.bottomrectangle {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px 10px;
    width: 100em;
    background-color: #ffffff;
    color: black;
    text-align: center;
}

